<!DOCTYPE html>
<html>
    <head>
        <title>Tank Tactics - Play</title>
        <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id='wrapper'>
            <canvas id='canvas' width='800' height='800'></canvas>
            <form id="move_selection">
                <select name="movelist" id="movelist" size="5">
                    <option value="move">Move (1 AP)</option>
                    <option value="shoot">Shoot (1 AP)</option>
                    <option value="range">Upgrade Range (3 AP)</option>
                    <option value="heal">Heal 1 Point (3 AP)</option>
                    <option value="transfer">Transfer Action Point (1 AP)</option>
                </select>
                <input type="submit" id="submit" value="Perform Action">
            </form>
            <div id="output"></div>
        </div>
        <script type="text/javascript" charset="utf-8">
            var socket = io();
            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#move_selection').on('submit',function(e){
                    $.ajax({
                    data : {
                        move : $('#movelist').val(),
                    },
                    type : 'post',
                    url : '/play'
                    })
                    .done(function(data){
                        player_list=JSON.parse(data.player_data);
                        drawBoard();
                    });
                    e.preventDefault();
                });
            });
        </script>
        <script>
            setInterval(function() {
                // Code for refreshing scoreboard goes here
            }, 5000);
        </script>
        <script>
            function drawBoard(){
                var cSize = 800;
                var p = 5;
                var player_count = player_list.length;

                window.edge_count = Math.ceil((player_count * playerSpace) ** (1/2));
                var boxScale = cSize / edge_count;

                canvas.width = cSize + p * 2;
                canvas.height = cSize + p * 2;

                context.clearRect(0,0,canvas.width, canvas.height);

                for (let i = 0; i < player_list.length; i++){
                    if (!player_list[i].dead) {
                        renderOverlays(player_list[i], boxScale, p, player_list[i].isClient);
                    }
                }

                context.setTransform(1,0,0,1,0,0);

                for (var x = 0; x <= cSize + p; x += cSize / edge_count) {
                    context.moveTo(0.5 + x + p, p);
                    context.lineTo(0.5 + x + p, cSize + p);
                }

                for (var x = 0; x <= cSize + p; x += cSize / edge_count) {
                    context.moveTo(p, 0.5 + x + p);
                    context.lineTo(cSize + p, 0.5 + x + p);
                }
                context.strokeStyle = "#3c4150";
                context.stroke();

                for (let i = 0; i < player_list.length; i++){
                    if (!player_list[i].dead) {
                        renderPlayer(player_list[i], boxScale, p, player_list[i].isClient);
                    }
                }
            }

            function renderOverlays(player, boxScale, padding, isClient) {
                if(isClient){
                    context.fillStyle = "#b2656b";
                    for(let x = player.posX - player.range; x < player.posX + player.range +1; x++){
                        for(let y = player.posY - player.range; y < player.posY + player.range+1; y++){
                            context.setTransform(1,0,0,1,0,0);
                            context.translate(x * boxScale + padding, y * boxScale + padding);
                            context.fillRect(0,0,boxScale,boxScale);
                        }
                    }
                    
                    context.fillStyle = "#a8bd90";
                    for(let x = player.posX - 1; x < player.posX + 2; x++){
                        for(let y = player.posY - 1; y < player.posY + 2; y++){
                            context.setTransform(1,0,0,1,0,0);
                            context.translate(x * boxScale + padding, y * boxScale + padding);
                            context.fillRect(0,0,boxScale,boxScale);
                        }
                    }
                }
            }

            function renderPlayer(player, boxScale, padding, isClient) {
                context.setTransform(1,0,0,1,0,0);
                context.translate(player.posX * boxScale + padding, player.posY * boxScale + padding);
                
                if(isClient){
                    context.fillStyle = "#4e664d";
                } else {
                    context.fillStyle = "#000044";
                }
                context.fillRect(padding, padding, boxScale - padding * 2, boxScale - padding * 2);

                context.fillStyle = "#333333";
                context.fillRect(padding * 4, boxScale * 0.6, boxScale - padding * 8, (boxScale - padding * 4) * 0.2);
                context.fillStyle = "#FF0000";
                context.fillRect(padding * 4, boxScale * 0.6, (boxScale - padding * 8) * player.hp / 3.0, (boxScale - padding * 4) * 0.2);
                
                context.fillStyle = '#FFFFFF';
                if(isClient){
                    context.fillText(player.username + " " + player.ap, padding * 2, padding + boxScale / 2.5);
                } else {
                    context.fillText(player.username, padding * 2, padding + boxScale / 2.5);
                }
            }

            var canvas = document.getElementById("canvas");
            var context = canvas.getContext("2d");
            var playerSpace = 40

            var player_list = JSON.parse('{{ player_data | safe }}');

            drawBoard();
        </script>
    </body>
</html>